<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-8 col-md-8">
            <div>
                <div class=" col-3 col-md-3">
                    <label for="currencySelector" class="form-label">Select Currency:</label>
                    <select id="currencySelector" class="form-select" [(ngModel)]="selectedCurrency" (change)="calculateExpenses()">
                      <option value="USD">USD</option>
                      <option value="EUR">EUR</option>
                      <option value="RSD">RSD</option>
                    </select>
                </div>                                 
            </div>
            <div style="display: block">
                <canvas baseChart
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [type]="lineChartType">
                </canvas>
            </div>
        </div>
        
    </div>

</div>
