/* In your CSS file */
.purple-card {
    background-color: RGB(173, 216, 230); /* Set the background color to purple */
    color: white; /* Set the text color to white or any contrasting color */
  }

  #currencySelect{
    width:20px
  }
  