.bg-cool-color {
    background-color: #3498db; /* Replace with your desired color */
  }
  
  .custom-width {
    width: 150px; /* Adjust the width as needed */
  }

  #currencySelect{
    width:20px
  }

/* styles.css or styles.scss */
.custom-card {
  background-color: RGB(230, 230, 250); /* Dark grey background color */
  color: #000000; /* Text color */
  border-radius: 10px; /* Rounded corners */
}
