<div class="container">
  <div class="row justify-content-center">
      <div class="col-10 col-md-4">
          <form>
              <div class="mb-4 mt-4">
                  <span class="alert alert-danger mb-3" *ngIf="errorMessage">{{errorMessage}}  </span>
              </div>
              <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Username</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                  [(ngModel)]="username" name="username">
              </div>
              <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" 
                  [(ngModel)]="password" name="password">
              </div>

              <button type="submit" class="btn btn-danger btn-full-width"
              (click)="login()">Submit</button>
              
              <div class="d-flex justify-content-between mt-3">
                  <a role="button" (click)="routerChangePassword()">Forgot Password</a>
                  <a role="button" (click)="routerRegister()" class="ml-auto">Register</a>
              </div>
          </form>
      </div>
  </div>
</div>
