<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-4">
            <h1 class="display-1">Budget Your Way<br>to Success</h1>
            <p class="fs-10">Transform Your Finances with Ease! Our Expense Tracker App helps you effortlessly manage your money, set budgets, and achieve financial goals. Start your journey to financial freedom today!</p>
            <a class="btn btn-primary btn-lg"
            role="button" (click)="routerRegister()">Sign up</a>
        </div>
        <div class="col-md-6">
            <img src="assets/money_saving.png" alt="Image representing saving money or tracking expenses" class="img-fluid">
        </div>
    </div>
</div>
