

    <div class="container mt-3" >
    <form class="needs-validation" novalidate id="main">
     <div class="form-row" id="main">
         <div class="col-md-3">
             <label for="inputPassword3" class=" col-form-label">Old password</label>
             <input type="password" class="form-control" id="inputPassword3" placeholder="Password"
             [(ngModel)]="password" name="password" required>
             <div class="invalid-feedback">
                 Please enter your old password
             </div>
         </div>
         <div class="col-md-3">
             <label for="inputPassword4" class=" col-form-label">New password</label>
             <input type="password" class="form-control" id="inputPassword4" placeholder="Password"
             [(ngModel)]="password2" name="password2" required>
             <div class="invalid-feedback">
                 Please enter your new password
             </div>
         </div>
         <div class="col-md-3">
             <label for="inputPassword5" class=" col-form-label">Confirm new password</label>
             <input type="password" class="form-control" id="inputPassword5" placeholder="Password"
             [(ngModel)]="password3" name="password3" required>
             <div class="invalid-feedback">
                Please confirm your new password
             </div>
         </div>
         <button class="btn btn-danger mt-3" type="submit" name="changePassword" (click)="changePassword()" id="button">Change password</button>
     </div>
     <div *ngIf="showAlert" class="mt-3">
         <div class="col-md-3">
             <div class="alert alert-success " *ngIf="passwordChanged">
             {{message}}
             </div>
         </div>
         <div class="col-md-3">
             <div class="alert alert-danger " *ngIf="!passwordChanged">
             {{message}}
             </div>
         </div>
     </div>
     </form>
 </div>

 
 
 